body {
    
}
.jumbotron {
    background-image: url('../photo/00.jpg');
    background-repeat:round;
}
.text-shadow {
    text-shadow: 2px 2px 3px black;
}
.modal-dialog {
    background-color:red;
}
.modal-content {
    background-repeat: round;
}
.c28:hover {
    background-color: khaki;
}