body {

}
caption {
    color: #D3A4FF;
    text-align: center;
    caption-side: top;
    font-size:1.3rem;
}
.table-hover tbody tr:hover {
    color: #6C3365;
    background-color: #FFFFAA;
    font-size:1.5rem;
}
img:hover {
    box-shadow:1px 1px 1px #ff0000;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: "→";
}
.jumbotron {
    background-image: url('../photo/00.jpg');
    background-repeat:round;
  /*  font-weight:900;*/
    /*text-shadow:2px 2px 3px black;*/
}
.text-shadow {
    text-shadow: 2px 2px 3px black;
}