
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>產品資料新增資料</title>
</head>
<body>
    <h2>    </h2>

    <form></form>
</body>
</html>
